*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", serif;
    background-color: var(--background-color);
    --background-color: #ffffff;
    --color1: #4D5968;
    --color2: #111111;
    --color3: #b0b6be;
    --color4: #C0C0C0;
    --color5: #D3D3D3;
}

@keyframes header {
    0% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Header section*/
.nav-bar {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 12px 20px;
    animation-name: header;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 500ms;
    z-index: 10;
}

.nav-bar>ul {
    list-style: none;
}

.logo img {
    width: 65px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color4);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color5);
    transition: 0.15s ease-in-out;
}

.menu li a:hover {
    color: var(--color5);
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color4);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 50px;
    transform: translateY(-50%);
}

#check {
    display: none;
}

/* Hero Section */
.main-hero {
    width: 100%;
    height: 100vh;
}

.main-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("Img/pexels-taryn-elliott-5581859.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.text-left {
    width: 35%;
}

.text-left>h4 {
    width: 240px;
    text-align: left;
    justify-self: center;
    color: var(--background-color);
    text-transform: uppercase;
    position: relative;
    top: 200px;
    font-weight: 300;
}

.text-right {
    width: 65%;
    text-align: end;
    align-self: flex-end;
    position: relative;
    bottom: 150px;
    color: var(--background-color);
}

.text-right>h1 {
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 100px;
}

.line {
    width: 64%;
    height: 2px;
    background-color: var(--background-color);
    margin-top: 5px;
    justify-self: end;
}

.line>a {
    float: left;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: var(--background-color);
    margin-top: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.line>a:hover {
    color: var(--color3);
    transform: translateX(5px);
}

/* Our services Section */
.services {
    height: 600px;
    display: flex;
}

.items-services {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.items-services>h1 {
    font-size: 60px;
    color: var(--color2);
    text-transform: uppercase;
    padding-left: 100px;
}

.items-services ul {
    font-size: 25px;
    line-height: 40px;
    color: var(--color2);
    padding-left: 50px;
}

.list {
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn-services {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: var(--color2);
    font-size: 24px;
    margin-left: 100px;
    padding: 6px 8px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: var(--color2) 2px solid;
}

.btn-services:hover {
    color: var(--background-color);
    transform: translateY(-5px);
    background-color: var(--color2);
    border-radius: 15px 15px 0 0; 
}

.img-services {
    width: 50%;
}

.img-1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
}

.img-2 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
}

.img-services1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 60% 60%;
    padding: auto;
}

.img-services2, .img-services3 {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: 60% 60%;
    padding: auto;
}

/* About Us*/
.main-about-us {
    height: 650px;
    background-color: var(--color1);
    color: var(--background-color);
}

.about-us>h1 {
    text-transform: uppercase;
    font-size: 60px;
    justify-self: flex-end;
    padding-right: 280px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.about-us>p {
    font-size: 40px;
    font-weight: 450;
    padding-left: 170px;
}

.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 150px;
}

.numbers h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.numbers p {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 15px;
}

#number4 p {
    text-align: left;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    padding-left: 250px;
}

.main-text h2 {
    padding-bottom: 20px;
    font-size: 30px
}

.main-text p {
    width: 60%;
    font-size: 18px;
    font-weight: lighter;
}

/*Gallery section*/
.Gallery-section {
    height: auto;
}

.Gallery-section>h1 {
    font-size: 60px;
    color: var(--color2);
    text-transform: uppercase;
    padding: 40px 0;
    padding-left: 200px;
}

.gallery-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#img-7 {
    grid-column-start: -4;
    grid-column-end: -1;
    object-position: 40% 40%;
}

.gallery-imgs img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 60% 60%;
}

.gallery>h6 {
    justify-self: right;
    width: 20%;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.text-h6 {
    display: flex;
    align-items: center;
    width: 66.66%;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 10px 0;
    float: right;
}

/*How it works*/
.how-it-works-section {
    height: auto;
    margin: 100px 0;
}

.how-it-works-section>h1 {
    font-size: 60px;
    color: var(--color2);
    text-transform: uppercase;
    padding-left: 200px;
}

.howitworks {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 650px));
    justify-content: center;
    margin: 50px 0;
}

.grid1, .grid2, .grid3, .grid4 {
    display: flex;
}

.grid1, .grid2 {
    border-bottom: var(--color2) 1px solid;
}

.grid1, .grid3 {
    border-right: var(--color2) 1px solid;
}

.grid-n-1 {
    align-self: flex-end;
}

.grid-n-2 {
    align-self: flex-end;
}

.grid-text h2 {
    padding-bottom: 20px;
}

.grid-text {
    padding: 50px;
    justify-self: center;
    align-self: flex-start;
}

#num span {
    display: inline-block;
    font-size: 55px;
    padding: 10px 20px;
    color: transparent;
    -webkit-text-stroke: 1px #11111194;
}

.img-howitworks {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 60% 60%;
}

.img10 {
    width: 100%;
    height: 400px;
    position: relative;
}

.img10::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Img/pexels-taryn-elliott-5581859.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* Meet Our Team section*/

.meet-our-team-section {
    height: 100%;
    margin-bottom: 100px;
}

.meet-our-team-section>h1 {
    font-size: 60px;
    width: 80%;
    color: var(--color2);
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.meet-our-team-section>h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88%;
    height: 2%;
    background-color: var(--color2);
}

.meet-our-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.team1 {
    margin: 30px;
}

.team2 {
    margin: 30px;
}

#img11 {
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.team1>h5, .team2>h5 {
    padding-top: 10px;
    padding-bottom: 3px;
    position: relative;
    font-size: 20px;
}

.team1>h5::after, .team2>h5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2%;
    background-color: var(--color2);
}

.team1>span, .team2>span {
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    display: inline-block;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: var(--color1);
    color: var(--background-color);
}

.main-text00 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    text-transform: uppercase;
}

.main-text00>h1 {
    font-size: 60px;
}

.main-text00>a {
    font-size: 30px;
    padding: 12px  20px;
    border: var(--background-color) 3px solid;
    text-decoration: none;
    color: var(--background-color);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.main-text00>a:hover {
    background-color: var(--background-color);
    color: var(--color1);
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
}

.menu2 {
    height: 100%;
}

.menu1 {
    width: 30%;
    padding-left: 250px;
}

.menu1 li, .menu2 li {
    list-style: none;
    padding: 15px;
}

.menu1 li a, .menu2 li a {
    text-decoration: none;
    color: var(--background-color);
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.menu1 li a:hover, .menu2 li a:hover {
    color: var(--color5);
}

.menu1 li a::after, .menu2 li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2%;
    background-color: var(--color5);
    transition: all 0.3s ease-in-out;
}

.menu1 li a:hover::after, .menu2 li a:hover::after {
    width: 100%;
}

/*---------------------------------------------------------------------------------------------*/
/* Media Query for Mobile Devices */
@media(max-width: 600px) {
    .nav-bar{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 200px;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.5s ease;
        background-color: var(--color2);
        padding-top: 20px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .text-right h1 {
        font-size: 25px;
        padding-left: 0;
    }

    .line a {
        font-size: 12px;
    }

    .text-left h4 {
        width: 100%;
        padding-left: 20px;
    }

    .services {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .items-services>h1 {
        font-size: 35px;
        padding-left: 50px;
        margin-top: 20px;
    }

    .items-services {
        width: 100%;
    }

    .items-services> ul {
        padding-left: 90px;
        margin-top: 20px;
        font-size: 25px;
        line-height: 45px;
    }

    .list {
        justify-content: flex-start;
        margin: 20px 0;
        }

    .btn-services {
    margin-left: 0px;
    margin-right: 30px;
    font-size: 23px;
    }

    .botton {
        align-self: flex-end;
    }

    .btn-services {
        font-size: 20px;
    }

    .img-services {
        width: 100%;
        padding-top: 20px;
    }

    .img-services1,
    .img-services2,
    .img-services3 {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: 60% 60%;
        padding: 0;
    }

    .main-about-us {
        height: auto;
    }

    .about-us h1 {
        font-size: 40px;
        padding-right: 0;
        justify-self: center;
        padding-bottom: 40px;
    }

    .about-us>p {
        font-size: 25px;
        padding-left: 30px;
    }

    .numbers {
        padding: 30px 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    #number4 p {
        text-align: center;
    }

    .number h2 {
        font-size: 30px;
    }

    .number p {
        font-size: 13px;
    }

    .main-text {
        padding: 0 30px;
        flex-direction: column;
        row-gap: 40px;
        padding-bottom: 30px;
    }

    .main-text h2 {
        font-size: 25px
    }

    .text1>h2 {
        padding-top: 20px;
    }

    .main-text p {
        width: 95%;
    }

    .Gallery-section>h1 {
        padding:30px 0 20px 60px;
        font-size: 40px;
    }

    .gallery>h6 {
        width: 35%;
    }

    .text-h6 {
        width: 80%;
    }

    .how-it-works-section>h1 {
        font-size: 30px;
        padding-left: 30px;
    }

    .grid-text {
        padding: 30px;
    }

    .grid-text h2 {
        font-size: 20px;
    }

    .grid-text {
        padding: 10px;
    }

    .grid-text h2 {
        font-size: 18px;
    }

    .grid-text p {
        font-size: 15px;
    }

    #num span {
        font-size: 40px;
        padding: 5px 5px;
    }

    .meet-our-team-section>h1 {
        font-size: 35px;
    }

    .meet-our-team-section>h1::after {
        width: 65%;
    }

    .team1>h5, .team2>h5 {
        font-size: 18px;
    }

    .team1>span, .team2>span {
        font-size: 16px;
    }

    .meet-our-team-section {
        height: 800px;
    }

    .meet-our-team {
        flex-wrap: wrap;
    }

    .main-text00>h1 {
        font-size: 30px;
    }

    .main-text00>a {
        font-size: 18px;
        padding: 8px 10px;
    }

    .menu1 {
        padding-left: 20px;
        width: 50%;
    }

    .menu1 li a, .menu2 li a {
        font-size: 18px;
    }
}

/* Media Query for Tablet Devices */
@media (min-width: 601px) and (max-width: 900px) {
    .nav-bar{
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.5s ease;
        background-color: var(--color2);
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .text-right h1 {
        font-size: 40px;
        padding-left: 0;
    }

    .line a {
        font-size: 18px;
    }

    .text-left h4 {
        width: 100%;
        padding-left: 20px;
    }

    .items-services>h1 {
        font-size: 35px;
        padding-left: 50px;
    }

    .items-services> ul {
        padding-left: 90px;
        font-size: 25px;
    }

    .list {
        justify-content: flex-start;
        margin: 20px 0;
        }

    .btn-services {
    margin-left: 50px;
    font-size: 23px;
    }

    .about-us h1 {
        font-size: 40px;
        padding-right: 120px;
    }

    .about-us>p {
        font-size: 30px;
        padding-left: 50px;
    }

    .numbers {
        padding: 50px 50px;
    }

    .number h2 {
        font-size: 30px;
    }

    .number p {
        font-size: 13px;
    }

    .main-text {
        padding: 0 50px;
    }

    .main-text h2 {
        font-size: 25px
    }

    .main-text p {
        width: 90%;
    }

    .Gallery-section>h1 {
        padding-left: 110px;
        font-size: 50px;
    }

    .gallery>h6 {
        width: 30.5%;
    }

    .how-it-works-section>h1 {
        font-size: 40px;
        padding-left: 50px;
    }

    .grid-text {
        padding: 30px;
    }

    .grid-text h2 {
        font-size: 20px;
    }

    #num span {
        font-size: 40px;
        padding: 10px 10px;
    }

    .meet-our-team-section {
        height: 1000px;
    }

    .meet-our-team-section>h1 {
        font-size: 45px;
    }

    .meet-our-team-section>h1::after {
        width: 84%;
    }

    .meet-our-team {
        flex-wrap: wrap;
    }

    .main-text00>h1 {
        font-size: 40px;
    }

    .main-text00>a {
        font-size: 20px;
        padding: 10px 15px;
    }

    .menu1 {
        padding-left: 100px;
    }

    .menu1 li a, .menu2 li a {
        font-size: 18px;
    }
}

/* Media Query for laptop Devices */
@media (min-width: 901px) and (max-width: 1366px) {
    .text-right h1 {
        font-size: 50px;
    }

    .items-services>h1 {
        font-size: 45px;
        padding-left: 70px;
    }

    .items-services> ul {
        padding-left: 110px;
    }

    .btn-services {
        margin-left: 70px;
        font-size: 25px;
    }

    .about-us h1 {
        font-size: 50px;
        padding-right: 120px;
    }

    .about-us>p {
        font-size: 35px;
        padding-left: 100px;
    }

    .numbers {
        padding: 70px 100px;
    }

    .number h2 {
        font-size: 35px;
    }

    .number p {
        font-size: 14px;
    }

    .main-text {
        padding: 0 110px;
    }

    .main-text h2 {
        font-size: 25px
    }

    .main-text p {
        width: 80%;
    }

    .how-it-works-section>h1 {
        font-size: 50px;
        padding-left: 50px;
    }

    .meet-our-team-section>h1 {
        font-size: 50px;
    }

    .meet-our-team-section>h1::after {
        width: 84%;
    }

    .main-text00>h1 {
        font-size: 50px;
    }

    .main-text00>a {
        font-size: 25px;
        padding: 10px 15px;
    }

    .menu1 {
        padding-left: 180px;
    }
}
